/Win32
/Debug
*.dcu
*.exe
/__recovery
/__history/
/*.local
/*.identcache
/*.stat
/source/SEDF/controller/__history/
/source/SEDF/model/types/__history/
/source/SEDF/view/forms/cte/__history/
/source/layoutpages/view/forms/__history/
/source/SEDF/view/componentes/__history/
/source/layoutpages/view/componentes/__history/
/source/SEDF/controller/cadastros/__history
/source/SEDF/controller/consultas/__history
