/Win32
/Debug
*.dcu
*.exe
/__history/
/__history/*.~1~
/*.local
/*.identcache
/*.stat
/source/conhecimentofrete/controller/__history/*.~38~
/source/conhecimentofrete/controller/__history/*.~39~
/source/conhecimentofrete/controller/__history/*.~40~
/source/conhecimentofrete/controller/__history/*.~41~
/source/conhecimentofrete/controller/__history/*.~42~
/source/conhecimentofrete/controller/__history/*.~43~
/source/conhecimentofrete/controller/__history/*.~44~
/source/conhecimentofrete/controller/__history/*.~45~
/source/conhecimentofrete/controller/__history/*.~46~
/source/conhecimentofrete/controller/__history/*.~47~
/source/conhecimentofrete/controller/__history/*.~14~
/source/conhecimentofrete/controller/__history/*.~15~
/source/conhecimentofrete/controller/__history/*.~16~
/source/conhecimentofrete/controller/__history/*.~17~
/source/conhecimentofrete/controller/__history/*.~18~
/source/conhecimentofrete/controller/__history/*.~19~
/source/conhecimentofrete/controller/__history/*.~20~
/source/conhecimentofrete/controller/__history/*.~21~
/source/conhecimentofrete/controller/__history/*.~22~
/source/conhecimentofrete/controller/__history/*.~23~
/source/conhecimentofrete/controller/__history/*.~34~
/source/conhecimentofrete/controller/__history/*.~35~
/source/conhecimentofrete/controller/__history/*.~36~
/source/conhecimentofrete/controller/__history/*.~37~
/source/conhecimentofrete/controller/__history/*.~24~
/source/conhecimentofrete/controller/__history/*.~25~
/source/conhecimentofrete/controller/__history/*.~26~
/source/conhecimentofrete/controller/__history/*.~27~
/source/conhecimentofrete/controller/__history/*.~28~
/source/conhecimentofrete/controller/__history/*.~29~
/source/conhecimentofrete/controller/__history/*.~30~
/source/conhecimentofrete/controller/__history/*.~31~
/source/conhecimentofrete/controller/__history/*.~32~
/source/conhecimentofrete/controller/__history/*.~1~
/source/conhecimentofrete/controller/__history/*.~100~
/source/conhecimentofrete/controller/__history/*.~101~
/source/conhecimentofrete/controller/__history/*.~102~
/source/conhecimentofrete/controller/__history/*.~103~
/source/conhecimentofrete/controller/__history/*.~104~
/source/conhecimentofrete/controller/__history/*.~105~
/source/conhecimentofrete/controller/__history/*.~106~
/source/conhecimentofrete/controller/__history/*.~97~
/source/conhecimentofrete/controller/__history/*.~98~
/source/conhecimentofrete/controller/__history/*.~99~
/source/conhecimentofrete/model/types/__history/*.~10~
/source/conhecimentofrete/model/types/__history/*.~11~
/source/conhecimentofrete/model/types/__history/*.~12~
/source/conhecimentofrete/model/types/__history/*.~13~
/source/conhecimentofrete/model/types/__history/*.~14~
/source/conhecimentofrete/model/types/__history/*.~15~
/source/conhecimentofrete/model/types/__history/*.~6~
/source/conhecimentofrete/model/types/__history/*.~7~
/source/conhecimentofrete/model/types/__history/*.~8~
/source/conhecimentofrete/model/types/__history/*.~9~
/source/conhecimentofrete/view/forms/cte/__history/*.~1~
/source/conhecimentofrete/view/forms/cte/__history/*.~2~
/source/conhecimentofrete/view/forms/cte/__history/*.~3~
/source/conhecimentofrete/view/forms/cte/__history/*.~4~
/source/conhecimentofrete/view/forms/cte/__history/*.~5~
/source/conhecimentofrete/view/forms/cte/__history/*.~6~
/source/conhecimentofrete/view/forms/cte/__history/*.~7~
/source/conhecimentofrete/view/forms/cte/__history/*.~10~
/source/conhecimentofrete/view/forms/cte/__history/*.~11~
/source/conhecimentofrete/view/forms/cte/__history/*.~12~
/source/conhecimentofrete/view/forms/cte/__history/*.~13~
/source/conhecimentofrete/view/forms/cte/__history/*.~14~
/source/conhecimentofrete/view/forms/cte/__history/*.~15~
/source/conhecimentofrete/view/forms/cte/__history/*.~16~
/source/conhecimentofrete/view/forms/cte/__history/*.~17~
/source/conhecimentofrete/view/forms/cte/__history/*.~8~
/source/conhecimentofrete/view/forms/cte/__history/*.~9~
/source/layoutpages/view/forms/__history/*.~10~
/source/layoutpages/view/forms/__history/*.~11~
/source/layoutpages/view/forms/__history/*.~12~
/source/layoutpages/view/forms/__history/*.~13~
/source/layoutpages/view/forms/__history/*.~14~
/source/layoutpages/view/forms/__history/*.~5~
/source/layoutpages/view/forms/__history/*.~6~
/source/layoutpages/view/forms/__history/*.~7~
/source/layoutpages/view/forms/__history/*.~8~
/source/layoutpages/view/forms/__history/*.~9~
